@charset 'UTF-8';
:root {
  /*Paleta*/
  --color-verde-claro: #726b5d;
  --color-verde: #576050;
  --color-crema-claro: #eeebe8;
  --color-melon: #d6bba8;
  --color-crema: #caa286;
  --color-cafe: #9e6643;
  --color-cafe-oscuro: #955b3e;
  --color-naranja: #be6333;
  /*Tipo*/
  --prompt: "Prompt", sans-serif;
  --syncopate: "Syncopate", sans-serif;
  /*Misc*/
  --transicion: all 0.5s ease;
}

h1,
h2 {
  font-family: var(--syncopate);
  font-weight: 400;
}

/*
======
GENERALES
======
*/
html,
p {
  font-size: 16px;
  font-family: var(--prompt);
}
a {
  transition: var(--transicion);
}

main > div,
main > div {
  position: relative;
}

.fondo-img,
.fondo-blur {
  position: absolute;
  z-index: 1;
}

.fondo-img ~ * {
  position: relative;
  z-index: 2;
}

img {
  max-width: 100%;
}

.well-form {
  color: var(--color-crema-claro);
}

.well-form label,
.well-form input,
.well-form span {
  display: block;
  font-family: var(--prompt);
}

.well-form label {
  margin-bottom: 4px;
}

.well-form span {
  font-size: 0.875rem;
  margin: 4px 0 0;
  color: var(--color-crema);
  opacity: 0;
  transition: var(--transicion);
}

.well-form input:focus + span {
  opacity: 1;
}

.well-form input,
.well-form input:focus {
  box-shadow: none;
  outline: none;
  background: transparent;
}

.well-form label + input {
  padding: 4px 8px;
  margin: 0;
  width: 100%;
  border: 1px solid var(--color-crema);
  color: var(--color-crema-claro);
}

.btn {
  border: none;
  font-family: var(--syncopate) !important;
  font-weight: 700;
  border-radius: 0;
  text-align: center;
  padding: 12px 24px 8px;
  line-height: 2;
  transition: var(--transicion);
}
/*Footer*/
#well-footer {
  background: var(--color-crema-claro);
}
#cont-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.col-logos * {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.col-logos span {
  color: #617451;
  font-size: 14px;
}

#cont-footer .col-redes a {
  display: block;
  text-align: right;
  text-decoration: none;
  font-family: var(--syncopate);
  margin-bottom: 12px;
  font-weight: 700;
  color: var(--color-naranja);
}
#cont-footer .col-redes a:hover {
  color: var(--color-cafe);
}
#cont-footer .col-redes br {
  display: none;
}
#copyright {
  border-top: 1px solid #707070;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}
#copyright p {
  text-align: left;
  font-size: 0.75rem;
  line-height: 1.5;
  color: #707070;
  width: 80%;
}
#copyright a {
  font-size: 0.75rem;
  min-width: 180px;
  display: block;
  width: 20%;
  padding-left: 30px;
  text-decoration: none;
  color: #707070;
  text-align: right;
}
#copyright a:hover {
  color: var(--color-naranja);
}
/*Header*/
#well-header {
  background-color: var(--color-verde-claro);
  padding-top: 15px;
  padding-bottom: 15px;
}
#well-header img {
  width: 125px;
}
#well-header .col:last-child {
  text-align: right;
}
#well-header .col:last-child a {
  color: white;
  text-decoration: none;
  font-family: var(--syncopate);
  font-weight: 700;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}
#well-header .col:last-child a:hover {
  color: var(--color-melon);
}
/*Custom select*/
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: var(--prompt);
  border: 1px solid var(--color-cafe);
  margin-bottom: 8px;
  color: var(--color-cafe);
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--color-crema-claro);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 17px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--color-cafe) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--color-cafe) transparent;
  top: 10px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: var(--color-cafe);
  padding: 8px 16px;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: var(--color-crema-claro);
  top: 100%;
  left: -1px;
  right: -1px;

  z-index: 99;
  border: 1px solid var(--color-cafe);
  box-sizing: border-box;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: var(--color-cafe);
  color: white !important;
}
.galeria-slick {
  padding-bottom: 60px;
}
.galeria-slick > button {
  position: absolute;
  bottom: 0;
  left: 50%;
}
.galeria-slick .slick-arrow {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  background: transparent;
  border-radius: 100%;
  font-size: 0;
  transition: var(--transicion);
}
.galeria-slick .slick-prev {
  transform: translateX(-100%);
  margin-left: -10px;
}
.slick-arrow::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1px solid white;
  border-right: 1px solid white;
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2px;
  transition: all 0.2s linear;
}
.slick-arrow.slick-prev::before {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-top: none;
  border-right: none;
  margin-left: 2px;
}
.slick-arrow.slick-disabled {
  visibility: hidden;
  opacity: 0;
}
/*
======
LOGIN
======
*/
/*Fila 1*/
#well-fila-login {
  background-color: var(--color-cafe);
  padding: 120px 0;
}

#well-fila-login h1 {
  font-size: 1.5rem;
}

#well-fila-login .fondo-img {
  background: url(../img/textura-ondas@2x.png);
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  opacity: 0.4;
}

#well-fila-login img {
  display: block;
  margin: 0 auto;
  width: 295px;
}

#well-fila-login .btn {
  background-color: var(--color-melon);
  color: var(--color-cafe);
  margin-top: 8px;
  width: 100%;
}

#well-fila-login .btn:hover {
  background-color: var(--color-crema-claro);
}

#well-fila-login h1 {
  color: var(--color-crema-claro);
  margin-bottom: 30px;
}

/*Fila 2*/
#well-fila-banner {
  background: url(../img/fondo-login-banner.jpg) no-repeat center;
  background-size: cover;
  color: var(--color-crema-claro);
}

#well-fila-banner h2 {
  font-size: 1rem;
  line-height: 2;
  padding: 90px 0;
}

#well-fila-banner .fondo-blur {
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  opacity: 0.8;
  backdrop-filter: blur(5px);
}

#well-fila-banner .fondo-img {
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  opacity: 0.5;
  background-color: var(--color-verde-claro);
}
/*
======
Home
======
*/
#well-fila-video {
  background-color: var(--color-verde);
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  color: white;
}
#well-fila-video h1 {
  font-size: 1rem;
  margin: 0;
}
#well-fila-video p.grande {
  font-size: 2rem;
  font-family: var(--syncopate);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  margin: 0;
}
#well-fila-video .col-xl-1 {
  position: relative;
}
#well-fila-video .row:last-child {
  margin-top: 30px;
}
#well-fila-video .row:last-child p {
  text-align: right;
  font-size: 1rem;
  font-family: var(--syncopate);
  margin: 0;
}
#well-fila-video .fondo-img {
  background: url(../img/textura-ondas@2x.png);
  right: 0;
  top: 0;
  height: 100%;
  width: 40%;
  opacity: 0.4;
}
#well-fila-listados {
  background-color: var(--color-crema-claro);
  padding: 60px 0;
}
#well-fila-listados > div > .row:first-child h4 {
  color: var(--color-cafe);
  font-family: var(--prompt);
  font-size: 1.2rem;
  margin: 0;
}
.fila-apto {
  border-top: 1px solid var(--color-cafe);
  padding: 40px 0;
  position: relative;
}
.fila-apto > div {
  color: var(--color-cafe);
  transition: var(--transicion);
  pointer-events: none;
  z-index: 2;
}
.tit-apto {
  font-family: var(--syncopate);
  font-size: 2rem;
}
.tit-apto small {
  display: block;
  font-size: 1rem;
  font-family: var(--prompt);
}
.fila-apto .col-lg-3 {
  text-align: center;
}
.fila-apto .valor {
  font-family: var(--syncopate);
  font-size: 1.5rem;
}
.fila-apto .area-outer {
  margin: 0;
}
.fila-apto .enlace-apto {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 0;
  transition: var(--transicion);
}
.fila-apto .enlace-apto:hover {
  background: white;
}
.fila-apto .enlace-apto:hover ~ div {
  color: var(--color-naranja);
}
.fila-apto .flecha {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-cafe);
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
  transition: var(--transicion);
}
.flecha .punta {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-top: 1px solid var(--color-cafe);
  border-right: 1px solid var(--color-cafe);
  transform: translate(-50%, -50%) rotate(45deg);
  margin-left: -2px;
  transition: all 0.2s linear;
}
.enlace-apto:hover ~ div .punta {
  margin-left: 4px;
}
.flecha .linea {
  width: 0;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 0;
  background: var(--color-naranja);
  transform: translate(-50%, -50%);
  transition: all 0.2s linear;
}
.enlace-apto:hover ~ div .linea {
  left: 50%;
  width: 20px;
}
.enlace-apto:hover ~ div .flecha {
  background-color: var(--color-naranja);
  border-color: var(--color-naranja);
}
.enlace-apto:hover ~ div .flecha .punta {
  border-color: white;
}
.enlace-apto:hover ~ div .flecha .linea {
  background: white;
}

#well-fila-listados .custom-select {
  max-width: 300px;
  margin-left: auto;
}
#well-fila-galeria {
  background-color: var(--color-verde);
  padding: 0;
}
#well-fila-galeria .slick-slide {
  margin: 0 7px;
}
#well-fila-galeria img {
  height: 60vh;
  width: auto;
}
#well-fila-brochure {
  background-color: var(--color-verde);
  padding: 20px 0 90px;
  color: white;
}
#well-fila-brochure .btn {
  background-color: var(--color-crema);
  color: var(--color-crema-claro);
  margin-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
}
#well-fila-brochure .btn:hover {
  background-color: var(--color-melon);
}
#well-fila-brochure img {
  margin: 0 auto;
}
#well-fila-brochure .slick-arrow:hover {
  background: white;
}
#well-fila-brochure .slick-arrow:hover:before {
  border-color: var(--color-verde);
}
/*Modal*/
.come-from-modal.left .modal-dialog,
.come-from-modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 70%;
  max-width: 1440px;
  height: 100%;
  transform: translate3d(0%, 0, 0);
}

.come-from-modal.left .modal-content,
.come-from-modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  border-radius: 0px;
}

.come-from-modal.left .modal-body,
.come-from-modal.right .modal-body {
  padding: 15px 15px 80px;
}
.come-from-modal.right .modal-dialog {
  right: 0;
  transform: translateX(100%);
  transition: opacity 0.3s linear, transform 0.5s ease-out;
}

.come-from-modal.right.show .modal-dialog {
  transform: translateX(0);
}
#modal-apto-detalle .modal-dialog, #modal-apto-detalle .modal-content {
  background-color: var(--color-crema-claro);
  border: none
}
.apto-detalle-planta img {
  min-height: 20px;
  width: 800px;
  height: auto;
}
.apto-detalle-planta .slick-arrow,
.apto-detalle-planta .slick-arrow:before {
  border-color: var(--color-verde)
}
.apto-detalle-planta .slick-arrow:hover {
  background-color: var(--color-verde);
}
.apto-detalle-planta .slick-arrow:hover:before {
  border-color: white;
}
#modal-apto-detalle .modal-content > div {
  padding: 40px 60px;
}
#modal-apto-detalle h3 {
  margin: 0;
}
.apto-detalle-f1 {
  color: var(--color-cafe)
}
.apto-detalle-disponible {
  padding: 15px 0 20px;
  border-bottom: 1px solid var(--color-cafe)
}
.apto-detalle-disponible p {
  margin: 0
}
.apto-detalle-areas {
  padding: 20px 0
}
.apto-detalle-areas p {
  margin: 0;
}
.apto-detalle-areas .area-construida {
  margin-bottom: 20px;
}
.apto-detalle-caracteristicas {
  color: var(--color-verde);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.apto-detalle-caracteristicas li {
  width: 50%;
}
.apto-detalle-img-piso img {
  display: block;
  width: 400px;
  margin: 0 auto;
}

.apto-detalle-f2 {
  background-color: var(--color-cafe)
}